VSUPABASE_PROJECT_ID="elkgdocbpaimuqsfdwsx"
SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVsa2dkb2NicGFpbXVxc2Zkd3N4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2MTAzMDgsImV4cCI6MjA5NjE4NjMwOH0.XOGxhyUvNVSiiGI_ro5JTTw3cDQHGXNOtPxXBIMwhNs"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJlZWZiaWFucGd2am16c2Rrd3ZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU3OTQ2NywiZXhwIjoyMDk2MTU1NDY3fQ.3SXqrOKkFt1h-YkbeD11gdk7QbESePyTSHcJPtyPHtk"
SUPABASE_URL="https://elkgdocbpaimuqsfdwsx.supabase.co"
VITE_SUPABASE_PROJECT_ID="elkgdocbpaimuqsfdwsx"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVsa2dkb2NicGFpbXVxc2Zkd3N4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2MTAzMDgsImV4cCI6MjA5NjE4NjMwOH0.XOGxhyUvNVSiiGI_ro5JTTw3cDQHGXNOtPxXBIMwhNs"
VITE_SUPABASE_URL="https://elkgdocbpaimuqsfdwsx.supabase.co"
