VITE_SUPABASE_URL=https://vbfanyofysqkhsyyjmzz.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZiZmFueW9meXNxa2hzeXlqbXp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1NjI0MDAsImV4cCI6MjA5NjEzODQwMH0.a-SlB2n_f7bXhQlsNLhPOEhGbaYP3R3IYxP1PZs_B8Y
